<% title @artist.name
  %>

<dl>
<dt>Name:</dt>
<dd><%= @artist.name %></dd>
</dl>


<% 
apikey = 'XWFTVJGWYLPYSCF3K'
surl = ["http://developer.echonest.com/api/v4/artist/profile?name=#{@artist.name.gsub(' ','+')}&api_key=#{apikey}&bucket=songs&bucket=images&bucket=biographies","http://developer.echonest.com/api/v4/artist/similar?api_key=#{apikey}&name=#{@artist.name.gsub(' ','+')}"]

#list_adjectives
url=[]
req=[]
res=[]
surl.each_with_index do |s,i|
  url[i] = URI.parse(s)
  req[i] = Net::HTTP::Get.new(s)
  res[i] = Net::HTTP.start(url[i].host,url[i].port){|http|
    http.request(req[i])
  }
end
imgsrc = JSON.parse(res[0].body)["response"]["artist"]["images"][0]["url"]
bio = JSON.parse(res[0].body)["response"]["artist"]["biographies"][1]["text"]
%>

<img src=<%= imgsrc %> >



<table class="table-bordered table-striped table">
  <thead>
  <tr>
    <th>TRACKS</th>
  </tr>
  </thead>

  <tbody>
  <% JSON.parse(res[0].body)["response"]["artist"]["songs"].slice(0,5).each do |song| %>
    <tr>
      <td><%= song["title"] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<td>


<table class="table-bordered table-striped table">
  <thead>
  <tr>
    <th>SIMILAR ARTISTS</th>
  </tr>
  </thead>

  <tbody>
  <% JSON.parse(res[1].body)["response"]["artists"].slice(0,5).each do |sim| %>
    <tr>
      <td><%= sim["name"] %></td>
    </tr>
 <% end %>
  </tbody>
</table>
<td>


<%= link_to artists_path, :class => "btn btn-inverse btn-mini", :style => 'color: #FFFFFF' do %>
    <i class="icon-step-backward icon-white"></i>
    All Artists
<% end %>

