<% title "Calendar" %>

<% content_for :filterbar do %>
    <%=  render :partial => 'common-partials/filterbar' %>

    <h2>Info:</h2>
    <p>Click on a concert to indicate interest.
    <p>Click on <icon class='icon-chevron-right'> </i> to see more about the concert.
<% end %>

<div id='calendar'>
    <h2 id="month">
        <%= link_to :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") do %>
            <i class= 'icon-step-backward'> </i>
        <% end %>
        <%= h @date.strftime("%B %Y") %>
        <%= link_to :month => (@date.end_of_month+1).strftime("%Y-%m-01") do %>
            <i class='icon-step-forward'> </i>
        <% end %>
    </h2>

    <%= calendar_for(@concerts, :year => @date.year, :month => @date.month) do |t| %>
      <%= t.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %>
      <%= t.day do |day, concerts| %>
        <%= day.day %>
        <% concerts.each do |concert| %>
            <p>
            <%= link_to concert, :class => "concert "+color(concert.price),
                    :data => {:date =>  (l concert.date, :format=>:day), :id => concert.id, } do %>
                <%= h(concert.artist.name) %>
            <% end %>
            &nbsp;
            <%= link_to concert do %>
                    <icon class='icon-chevron-right'> </i>
            <% end %>
        <% end %>
      <% end %>
    <% end %>
</div>

