<p id="notice"><%= notice %></p>
<% title @venue.name %>

<dl>
<dt>Address:</dt>
<dd><%= @venue.address %></dd>

<dt>Phone:</dt>
<dd><%= @venue.phone %></dd>

<dt>Capacity:</dt>
<dd><%= @venue.capacity %></dd>

<dt>Box Office Hours:</dt>
<dd><%= @venue.hours %></dd>

<dt>Seating:</dt>
<dd><%= @venue.seating %></dd>

</dl>

<%= link_to venues_path, :class => "btn btn-inverse btn-mini", :style => 'color: #FFFFFF' do %>
    <i class="icon-step-backward icon-white"></i>
    Back
<% end %>

