<p id="notice"><%= notice %></p>
<% title @venue.name %>

<dl>
<dt>Address:</dt>
<dd><%= @venue.address %></dd>

<dt>Phone:</dt>
<dd><%= @venue.phone %></dd>

<dt>Capacity:</dt>
<dd><%= @venue.capacity %></dd>

<dt>Box Office Hours:</dt>
<dd><%= @venue.hours %></dd>

<dt>Seating:</dt>
<dd><%= @venue.seating %></dd>

</dl>

<%= link_to venues_path, :class => "btn btn-inverse btn-mini", :style => 'color: #FFFFFF' do %>
    <i class="icon-step-backward icon-white"></i>
    All Venues
<% end %>


<table class="table-bordered table-striped table">
  <thead>
  <tr>
    <th>UPCOMING CONCERTS</th>
  </tr>

    <tr>
      <td>DATE</td>
      <td>ARTIST</td>
      <td>PRICE</td>
    </tr>
  </thead>

  <tbody>
  <% @venue.concerts.each do |concert| %>
    <tr>
      <td><%= concert['date'] %></td>
      <td><%= link_to concert.artist.name, concert.artist %></td>
      <td><%= concert['price'] %></td>
    </tr>
    
  <% end %>
  </tbody>
</table>
