<% title 'All concerts' %>

<table class="table-bordered table-striped table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Artist</th>
    <th>Venue</th>
  </tr>
  </thead>

  <tbody>
  <% @concerts.each do |concert| %>
    <tr>
      <td><%= concert.date %></td>
      <td><%= concert.artist %></td>
      <td><%= concert.venue %></td>
      <td><%= link_to 'Show', concert %></td>
      <td><%= link_to 'Edit', edit_concert_path(concert) %></td>
      <td><%= link_to 'Destroy', concert, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Concert', new_concert_path %>

