<% title 'All concerts' %>

<table class="table-bordered table-striped table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Artist</th>
    <th>Venue</th>
  </tr>
  </thead>

  <tbody>
  <% @concerts.each do |concert| %>
    <tr>
      <td><%= l concert.date, :format=>:day%></td>
      <td><%= concert.artist.name %></td>
      <td><%= link_to concert.venue.name, concert.venue %></td>
      <td><%= link_to 'Show', concert %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Concert', new_concert_path %>

