<% title 'Concerts' %>

<table id='concerts' class="table-bordered table-striped table">
  <thead>
  <tr>
    <th>Drag or Click me</th>
    <th>Date</th>
    <th>Artist</th>
    <th>Venue</th>
    <th>Price</th>
    <th>More Info</th>

  </tr>
  </thead>

  <tbody>
  <% @concerts.each do |concert| %>
    <tr>
      <td><div class="btn btn-inverse btn-mini drag" id= <%= concert.id %>
            <br><%= concert.artist.name %><br> <%= l concert.date, :format=>:day %></div></td>
      <td><%= l concert.date, :format=>:day%></td>
      <td><%= link_to concert.artist.name, concert.artist %></td>
      <td><%= link_to concert.venue.name, concert.venue %></td>
      <td><%= number_to_currency(concert.price, :unit => "$") %></td>
      <td>
        <%= link_to concert, :class => "btn btn-inverse btn-mini", :style => 'color: #FFFFFF' do %>
            <i class="icon-step-forward icon-white"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% content_for :filterbar do %>
    <h2>Info:</h2>
    <p>Click on a concert to indicate interest.
    <p>Click on <icon class='icon-step-forward'> </i> to see more about the concert.
<% end %>

