<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "ConcertBOS" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon.ico"/>
</head>
<body>

<%= render :partial => 'common-partials/navmenu' %>

<div class="container">
  <div class="content">
    <div class="page-header">
        <h1><%= content_for?(:title) ? yield(:title) : 'ConcertBOS' %></h1>
    </div>
    <div class="row">
      <div class="span2">
        <div class='well'>
          <%= render :partial => 'common-partials/concertsbar'%>
        </div>
      </div>
      <div class="span8">
        <%= render :partial => 'common-partials/flashes' %>
        <%= yield %>
      </div>
      <div class="span2">
        <div class='well'>
          Sidebar 3
        </div>
      </div>
    </div>
    <footer>
    <%= render :partial => 'common-partials/footer' %>
    </footer>
  </div>
</div>

</body>
</html>

