<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "ConcertBOS" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">ConcertBOS</a>
      <ul class="nav">
        <li class="active"><a href="/">Home</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="/venues">Sign In</a></li>
      </ul>
    </div>
  </div>
</div>
  
<div class="container">
  <div class="content">
    <div class="row">
      <div class="span12">
        <%#= render :partial => 'common/flashes' %>
        <%= yield %>
      </div>
    </div>
    <footer>
    <%= render :partial => 'common-partials/footer' %>
    </footer>
  </div>
</div>

</body>
</html>

